<template>
  <div class="notification-containe">
    <NotificationBar
      v-for="notification in notifications"
      :key="notification.id"
      :notification="notification"
    />
  </div>
</template>

<script>
import NotificationBar from '@/components/NotificationBar.vue';
import { mapState } from 'vuex';

export default {
  components: {
    NotificationBar,
  },

  computed: mapState('notification', ['notifications']),
};
</script>

<style lang="scss" scoped>
.notification-containe {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 40px;
}
</style>
